In [79]:
import openai
import pandas as pd
import json

In [86]:
openai.api_key = "API"

In [81]:
def generate_synthetic_data(prompt):
    response = openai.chat.completions.create(
        model="gpt-4o-mini",
        messages=[{"role": "system", "content": system_prompt },
                  {"role": "user", "content": prompt}],
        response_format={"type":"json_object"}
    )
    generated_text = response.choices[0].message.content
    return json.loads(generated_text)

In [82]:
system_prompt = "You are a random data generator. You are able to produce random data about random imagrnary people and their date of birth and their address. "
system_prompt += "You should respond in JSON as in this example:"
system_prompt +="""
{
    "People": [
        {"full name": "Saeed Sabzeh" , "date of birth":  " DD/MM/YY" , "Address" : "Tehran, amoozgar 2, 33"},
        ...
    ]
}
"""

In [83]:
prompt = " build a random data set for 20 people and their address and their date of birth. just respond with the JSON file"

In [84]:
synthetic_data = generate_synthetic_data(prompt)

In [85]:
synthetic_data

{'People': [{'full name': 'Alice Johnson',
   'date of birth': '12/03/90',
   'Address': 'New York, 5th Ave, 101'},
  {'full name': 'Brian Smith',
   'date of birth': '22/07/85',
   'Address': 'Los Angeles, Sunset Blvd, 202'},
  {'full name': 'Catherine Brown',
   'date of birth': '15/01/92',
   'Address': 'Chicago, Wacker Dr, 303'},
  {'full name': 'David Wilson',
   'date of birth': '30/11/88',
   'Address': 'Houston, Main St, 404'},
  {'full name': 'Evelyn Davis',
   'date of birth': '08/10/95',
   'Address': 'Phoenix, Central Ave, 505'},
  {'full name': 'Frank Thompson',
   'date of birth': '25/05/84',
   'Address': 'Philadelphia, Market St, 606'},
  {'full name': 'Grace Anderson',
   'date of birth': '01/02/91',
   'Address': 'San Antonio, Navarro St, 707'},
  {'full name': 'Henry Martinez',
   'date of birth': '19/09/89',
   'Address': 'San Diego, Balboa Park, 808'},
  {'full name': 'Isabella Taylor',
   'date of birth': '03/12/96',
   'Address': 'Dallas, Elm St, 909'},
  {'full name': 'Jacob Thompson',
   'date of birth': '16/04/87',
   'Address': 'San Jose, 1st St, 100'},
  {'full name': 'Katherine White',
   'date of birth': '07/08/83',
   'Address': 'Austin, Congress Ave, 200'},
  {'full name': 'Liam Harris',
   'date of birth': '10/07/92',
   'Address': 'Jacksonville, Bay St, 300'},
  {'full name': 'Mia Clark',
   'date of birth': '20/06/93',
   'Address': 'San Francisco, Market St, 400'},
  {'full name': 'Noah Lee',
   'date of birth': '11/09/89',
   'Address': 'Columbus, High St, 500'},
  {'full name': 'Olivia Hall',
   'date of birth': '27/01/94',
   'Address': 'Charlotte, Trade St, 600'},
  {'full name': 'Peter Allen',
   'date of birth': '02/05/86',
   'Address': 'Fort Worth, Main St, 700'},
  {'full name': 'Quinn Wright',
   'date of birth': '28/11/91',
   'Address': 'Detroit, Woodward Ave, 800'},
  {'full name': 'Riley King',
   'date of birth': '14/10/88',
   'Address': 'El Paso, Montana Ave, 900'},
  {'full name': 'Sophia Scott',
   'date of birth': '17/02/95',
   'Address': 'Indianapolis, Meridian St, 1000'},
  {'full name': 'Thomas Young',
   'date of birth': '06/03/90',
   'Address': 'Seattle, Pike St, 1100'}]}